body{
    background-color: #222;
    color: #EEE;
    font-family: 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

content-area{
    max-width: 800px;
    padding: 2em 1em 2em 1em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

li {
    display: flex;
    align-items: stretch;
    align-items: center;
}
